@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Vazirmatn";
    src: local(Vazirmatn), url("/src/fonts/Vazirmatn-Regular.ttf") format("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Vazirmatn Medium";
    src: local(Vazirmatn), url("/src/fonts/Vazirmatn-Medium.ttf") format("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Vazirmatn Bold";
    src: local(Vazirmatn), url("src/fonts//Vazirmatn-Bold.ttf") format("ttf");
    font-display: swap;
  }

  :root {
    --primery-coler: #E1A772;
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

  }

}

@layer components {

  .shop-badge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    width: 22px;
    height: 22px;
    right: 23px;
    top: -2px;
    left: -7px;
    color: #fff;
    background: #d11124;
    border-radius: 50%;
  }

  /* Start Scrollbar stayles */

  /* Webkit-based browsers (Chrome, Edge, Safari) */
  .scrollbar-minimal::-webkit-scrollbar {
    width: 8px;
    /* عرض اسکرول‌بار */
    height: 8px;
    /* ارتفاع اسکرول‌بار */
  }

  /* حذف فلش‌های بالا/پایین */
  .scrollbar-minimal::-webkit-scrollbar-button {
    display: none;
  }

  .scrollbar-minimal::-webkit-scrollbar-track {
    background: transparent;
    /* مخفی کردن track */
  }

  .scrollbar-minimal::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    /* رنگ پیش‌فرض thumb */
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  /* Firefox */
  @supports (scrollbar-width: thin) {
    .scrollbar-minimal {
      scrollbar-width: thin;
      scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
      /* رنگ پیش‌فرض */
    }
  }

  /* Finish Scrollbar stayles */

  /* start Dropdown styles */

  .custom-after::after {
    @apply absolute content-[''] w-[7px] h-[1.5px] bg-orange-250 top-[25px] mt-2 right-0 opacity-0 invisible transition-all ease-in duration-300;
  }

  .menu-link.active::after,
  .menu-link:hover::after {
    @apply opacity-100 visible right-[20%];
  }

  .submenu-item:last-child {
    @apply border-b-0;
  }

  .subsubmenu-dropdown li:last-child .subsubmenu-link {
    @apply border-b-0;
  }

  .submenu-dropdown {
    @apply absolute bg-[#12131B] right-0 top-[90px] z-[99] w-[265px] mt-0 block py-[10px] px-[25px] border-none rounded-none opacity-0 invisible transition-all duration-200 ease-in-out transform translate-y-[18px];
  }

  .menu-link:hover .submenu-dropdown {
    @apply opacity-100 visible top-[78px];
  }

  .submenu-link::after {
    @apply absolute content-[''] w-[3px] top-[30%] -right-[25px] z-[999] h-0 scale-y-0 bg-[var(--primery-coler)] invisible opacity-0 transition-all ease-in duration-300;
  }

  .submenu-link.active::after,
  .submenu-link:hover::after {
    @apply visible opacity-100 h-1/2 scale-y-100;
  }

  .submenu-link {
    @apply relative;
  }

  .subsubmenu-dropdown {
    @apply absolute bg-[#12131B] z-[99] w-[265px] mt-0 block py-[10px] px-[25px] border-none rounded-none opacity-0 -top-[7px] -right-[270px] invisible transition-all duration-200 ease-in-out transform translate-y-[18px];
  }

  .submenu-item:hover .subsubmenu-dropdown {
    @apply opacity-100 visible -top-[19px];
  }

  .subsubmenu-link::after {
    @apply absolute content-[''] w-[3px] top-[30%] -right-[25px] h-0 scale-y-0 bg-[var(--primery-coler)] invisible opacity-0 transition-all ease-in duration-300;
  }

  .subsubmenu-link.active::after,
  .subsubmenu-link:hover::after {
    @apply visible opacity-100 h-1/2 scale-y-100;
  }

  .subsubmenu-link {
    @apply relative;
  }


  /* Finish Dropdown stayles */

  /* start Footer styles */

  .footer-shape {
    animation: footershape 3000ms infinite ease-in-out;
  }

  @keyframes footershape {
    0% {
      transform: translateX(0px);
    }

    50% {
      transform: translateX(20px);
    }

    100% {
      transform: translateX(0px);
    }
  }

  .footer-btn {
    position: absolute;
    white-space: nowrap;
    top: 7px;
    left: 5px;
    height: calc(100%-10px);
    border-radius: 50px;
    font-size: 20px;
    padding: 10px 39px;
    background-color: var(--primery-coler);
    transition: all 200ms linear;
    color: white;
    font-weight: 700;
    border: 0;
  }

  .footer-btn:hover {
    background-color: #722700;
  }

  .footer-widget::after {
    position: absolute;
    top: 50%;
    left: 75px;
    content: "";
    width: 14px;
    height: 160px;
    color: #27282C;
    background-image: url(https://rtlme.ir/Etar/assets/img/shape-2.webp);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 14px 160px;
    transform: translateY(-50%);
  }

  .footer-widget:last-child::after {
    position: absolute;
    top: 49%;
    left: 28px;
    content: "";
    width: 1px;
    height: 20px;
    transform: translateY(-50%);
    background-color: #27282C;
  }

  .footer-widget {
    position: relative;
  }

  .footer-widget_link::before {
    position: absolute;
    top: 9px;
    right: 0;
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #fff;
    transition: all ease 0.3s;
  }

  .footer-widget_link:hover::before {
    background-color: var(--primery-coler);
  }

  .footer-widget_link::after {
    position: absolute;
    bottom: -3px;
    right: 0;
    content: "";
    width: 0;
    height: 1px;
    background-color: var(--primery-coler);
    transition: all ease 0.5s;
  }

  .footer-widget_link:hover::after {
    width: 100%;
  }

  .footer-widget_link:hover {
    color: var(--primery-coler);
  }

  .footer-widget_link {
    position: relative;
    transition: all ease 0.5s;
  }

  .footer-widget_item::before {
    position: absolute;
    top: 12px;
    right: 0;
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--primery-coler);
  }

  .footer-widget_item {
    position: relative;
  }

  .footer-widget_icon::after {
    position: absolute;
    top: 55%;
    left: -15px;
    content: "";
    width: 1px;
    height: 20px;
    transform: translateY(-50%);
    background-color: #27282C;
  }

  .footer-widget_icon {
    position: relative;
  }

  .footer-bottom_link::after {
    position: absolute;
    bottom: -3px;
    right: 0;
    content: "";
    width: 0;
    height: 1px;
    background-color: var(--primery-coler);
    transition: all ease 0.5s;
  }

  .footer-bottom_link:hover::after {
    width: 100%;
  }

  .footer-bottom_link {
    position: relative;
    display: inline-block;
  }

  .footer-bottom_link-icon::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 0;
    height: 100%;
    z-index: -1;
    transition: all ease 0.5s;
  }

  .footer-bottom_link-icon:hover::after {
    width: 100%;
    background-color: var(--primery-coler);
    color: #fff;
  }

  .footer-bottom_link-icon {
    position: relative;
  }

  /* Finish Footer stayles */

  /* Start Header stayles */

  .header-img {
    animation: headershape 20s infinite linear;
  }

  @keyframes headershape {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-359deg);
    }
  }

  .text-fill-3 {
    -webkit-text-fill-color: var(--primery-coler);
  }

  .text-stroke-3 {
    -webkit-text-stroke: 1px white;
  }

  .text-fill-4 {
    -webkit-text-fill-color: #2c2d34;
  }

  .text-stroke-4 {
    -webkit-text-stroke: 1px #66666b;
  }

  /* Finish Header stayles */

  /* Start About stayles */

  .about-btn::before {
    position: absolute;
    top: -5%;
    right: -5%;
    content: "";
    width: 0%;
    height: 110%;
    z-index: -1;
    border-radius: 5px;
    transform: skewX(-15deg);
    overflow: hidden;
    transition: all ease 0.5s;
    background-color: #732701;
    opacity: 0;
  }

  .about-btn:hover::before {
    opacity: 1;
    width: 110%;
  }

  .about-btn {
    position: relative;
  }

  /* Finish About stayles */

  /* Start Recipe stayles */

  .recipe-menu_btn::before {
    position: absolute;
    top: -5%;
    right: -5%;
    content: "";
    width: 0%;
    height: 110%;
    z-index: -1;
    border-radius: 5px;
    transform: skewx(-15deg);
    overflow: hidden;
    transition: all ease 0.5s;
  }

  .recipe-menu_btn:hover::before {
    background-color: var(--primery-coler);
    width: 110%;
  }

  .recipe-menu_btn {
    position: relative;
  }

  .recipe-info {
    width: calc(100%-185px);
  }

  .recipe-title::after {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed rgb(255, 255, 255);
    z-index: -1;
  }

  .recipe-title {
    position: relative;
  }

  /* Finish RecipeMenu stayles */

  /* Start Category stayles */

  .cat-img {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(https://rtlme.ir/Etar/assets/img/recipes/cat-shape.webp);
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* Finish Category stayles */

  /* Start Bestservice stayles */

  .text-fill-1 {
    -webkit-text-fill-color: transparent;
  }

  .text-stroke-1 {
    -webkit-text-stroke: 1px var(--primery-coler);
  }

  .text-fill-2 {
    -webkit-text-fill-color: #D2D2D2;
  }

  .text-stroke-2 {
    -webkit-text-stroke: 1px transparent;
  }


  /* Finish Bestservice stayles */


  /* Start Userpanel/Sidebar stayles */

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

}

/* Finish Userpanel/Sidebar stayles */

@layer base {
  * {
    @apply border-border;

  }

  body {
    @apply bg-background text-foreground;

  }

}